html,
body {
  font-size: 16px;
}

#main {
  max-width: 1920px;
}

#nav {
  height: 106px;
}

#logo {
  max-width: 300px;
}

#content {
  background-color: #f5f5f5;
}

.content-wrapper {
  max-width: 792px;
}

#article-wrapper {
  padding: 0;
}

.article {
  max-width: 350px;
}

.card {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.card-img-top {
  border-radius: 0;
}

#footer {
  height: 156px;
  background-color: #d9d9d9;
}

@media only screen and (max-width: 991px) {
  #nav {
    height: 53px;
  }

  #logo {
    max-width: 150px;
  }

  #footer {
    height: 78px;
  }
}